.flex-container{
    display: flex;
    flex-flow: nowrap;
    min-width: 400px;
    max-width: 1200px;
    border: 2px solid #000;
}

.fila{
    border: 2px solid;
}


.caixa{
    margin: 1px;
    padding: 2px;
    border: 2px solid #000;
}

.titol{
    padding: 2px;
    margin: 1px;
    width: 15%;
    line-height: 60px;
    border: 2px solid #000;
}
