table,
td {
    border: 2px solid #333;
}

thead,
tfoot {
    background-color: #fff;
    color: #333;
}

th, td {
    padding: 4px;
}

.pati {
    text-align: center;
}

.serveis{
    background-color: #23ece2;
    color: #e224c3;
    border-color: #e224c3;
}

.seguretat{
    background-color: #ec23e2;
    color: #fff;
    border-color: #2348ec;
}

.eie{
    background-color: #cc8f4a;
    color: #23e5ec;
    border-color: #23e5ec;
}

.web{
    background-color: #23ec70;
    color: #2348ec;
    border-color: #2348ec;
}

.aplicacions{
    background-color: #ceec23;
    color: #333;
    border-color: #333;
}

.sistemes{
    background-color: #e61666;
    color: #36f306;
    border-color: #40e616;
}