table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #fff;
    color: #333;
}

th, td {
    padding: 4px;
    text-align: center;
}

.pati {
    text-align: center;
    background-color: #c1690b;
    color: #fff;
}

.serveis {
    background-color: #41b1d0;
}

.sistemes {
    background-color: #f1e500;
}

.aplicacions {
    background-color: #86ff30;
}

.seguretat {
    background-color: #da0fc3;
}

.eie {
    background-color: #0a4412;
    color: #fff;
}

.titol {
    background-color: #000000;
    color: #fff;
}

